main {
    padding-bottom: 3em;
}

.grid-row {
    margin: 0 -15px;
}

.column-quarter {
    float: left;
    width: 25%;
}

.column-half {
    float: left;
    width: 50%;
}

.data {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.heading-with-border {
    border-top: 1px solid #bec0c2;
    padding-top: 1.25em;
}

.pagebreak {
    page-break-before: always;
}

.foreign-company-details-table {
    margin-bottom: 1em;
}

.sentence-case {
    text-transform: lowercase;
    display: inline-block;
}

.sentence-case::first-letter {
    text-transform: uppercase;
}

.bold {
    font-weight: 700px;
}

.charge {
    margin: 20px 0px;
}

.particulars {
    margin-top: 20px;
}

@media print {

    .page-break {
        min-height: 400px;
        page-break-before: always;
    }

    .page {
        min-height: 25cm;
        border-style: solid;
        border-width: 0;
        page-break-after: always;
        margin: 0 auto;
        width: 170mm;
        position: relative;
    }

    @page {
        size: A4;
    }

    @media print {
        body,
        html {
            height: 257mm;
            margin: 0 auto;
            width: 170mm;
            font-size: 12px;
        }
    }
    @media screen {
        .page {
            margin-bottom: 5em;
        }
    }
    .section-marker {
        left: 0;
        position: absolute;
        top: 0;
    }
}